################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/env
/aipoker.pyproj
/aipoker.sln
/aipoker.pyproj.user
